@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

:root {
  --main-nav: #fff;
  --main-title: #fff;
}

body {
  background: rgb(47, 73, 108);
  background: linear-gradient(
    291deg,
    rgba(47, 73, 108, 1) 13%,
    rgba(53, 83, 121, 1) 37%,
    rgba(56, 83, 115, 1) 58%,
    rgba(50, 77, 108, 1) 89%
  );
  z-index: 0;
}

/* ---------------------------------------------NAVBAR STYLING STARTS ------------------------------------------------------*/

.header {
  width: 100%;
  z-index: 3;
}

.header ul {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  font-size: 1.2rem;
  /* top: -50%;*/
  /* height: 100vh; */
}

.header li {
  display: block;
  font-size: 1.5rem;
}
.nav_top {
  border-top: 2px solid #fff;
  padding-top: -50px;
  /* margin-top: 100px; */
}
.nav_bot {
  border-bottom: 2px solid #fff;
  /* margin-bottom: 100px; */
}

.header li a {
  color: #fff;
  display: block;
  text-decoration: none;
}

/* .header li a:hover,
.header .menu-btn:hover {
  background-color: #46ca21;
} */
.menu .active {
  background: rgba(255, 255, 255, 0.214);
  color: #fff;
  padding-top: 0.85rem;
  padding-bottom: 0.85rem;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 10px;
}

.menu .non_active {
  /* margin-right: 1.5rem;
  margin-left: 1.5rem; */
  text-decoration: none;
  color: #fff;
  position: relative;
  padding-top: 0.85rem;
  padding-bottom: 0.85rem;
  text-transform: uppercase;
  font-weight: 400;
  padding-right: 10px;
  padding-left: 10px;
}
.menu .non_active:hover {
  background: rgba(255, 255, 255, 0.214);
}

/* menu */

.header .menu {
  position: relative;

  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  color: #fff;
  background-color: #1b1b1b;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  margin-bottom: 5rem;
  display: block;
  height: 7px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 58px;
  border-radius: 20px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
  border-radius: 20px;
}

.header .menu-icon .navicon:before {
  top: 15px;
}

.header .menu-icon .navicon:after {
  top: -15px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 440px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
/* ---------------------------------------------main ------------------------------------------------------*/
.main {
  position: absolute;
  z-index: -1;
  top: 0px;
  width: 100%;
}
.main_head {
  padding-top: 1rem;
  color: #fff;
  text-align: center;
}
.main_num {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 25% 25% 25%;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.num {
  font-weight: bold;
  font-size: 3rem;
  border-bottom: 5px solid rgb(51, 92, 146);
}
.text {
  color: rgb(51, 92, 146);
  font-weight: bold;
}
.num_conc {
  height: 100%;
  color: #c5553c;
  padding: 1rem;
  text-align: center;
  background: rgba(255, 255, 255, 1);
  /* box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); */
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}
.map {
  display: flex;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border: 4px solid #fff;
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  margin-bottom: 3rem;
  background-color: rgba(255, 255, 255, 0.18);
}

/* ----------------------------------MEDIUM SCREEN SIZE ------------------------------------------------*/

@media (max-width: 1750px) {
  .hamburger {
    font-size: 50px;
  }
}

/*------------------------------------ SMALL SCREEN ---------------------------------------------*/

@media (max-width: 1250px) {
  .hamburger {
    font-size: 40px;
  }
}
/*------------------------------------ SMALL SCREEN ---------------------------------------------*/
@media (max-width: 880px) {
  .hamburger {
    font-size: 30px;
    margin-right: 1rem;
  }
}

/*------------------------------------ PHONE ---------------------------------------------*/
@media (max-width: 650px) {
  .hamburger {
    font-size: 30px;
    margin-right: 1rem;
  }
}
