@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
  list-style: none;
}

:root {
  --main-nav: #fff;
  --main-title: #fff;
}
body {
  background: #324d6c;
  z-index: -1;
  overflow-y: hidden;
}
/* ---------------------------------------------NAVBAR STYLING STARTS ------------------------------------------------------*/
.content {
  z-index: 2;
}
.header {
  width: 100%;
  z-index: 2;
}

.header ul {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  font-size: 1.2rem;
  /* top: -50%;*/
  /* height: 100vh; */
  z-index: 2;
}

.header li {
  display: block;
  font-size: 1.5rem;
}
.nav_top {
  border-top: 2px solid #fff;
  padding-top: -50px;
  /* margin-top: 100px; */
}
.nav_bot {
  border-bottom: 2px solid #fff;
  /* margin-bottom: 100px; */
}

.header li a {
  color: #fff;
  display: block;
  text-decoration: none;
}

.header .menu-btn:hover {
  background-color: #46ca21;
}
.menu .active {
  background: rgba(255, 255, 255, 0.214);
  color: #fff;
  padding-top: 0.85rem;
  padding-bottom: 0.85rem;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 10px;
}

.menu .non_active {
  /* margin-right: 1.5rem;
  margin-left: 1.5rem; */
  text-decoration: none;
  color: #fff;
  position: relative;
  padding-top: 0.85rem;
  padding-bottom: 0.85rem;
  text-transform: uppercase;
  font-weight: 400;
  padding-right: 10px;
  padding-left: 10px;
}
.menu .non_active:hover {
  background: rgba(255, 255, 255, 0.214);
}

/* menu */

.header .menu {
  position: relative;

  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  color: #fff;
  background-color: #1b1b1b;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  margin-bottom: 5rem;
  display: block;
  height: 7px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 58px;
  border-radius: 20px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
  border-radius: 20px;
}

.header .menu-icon .navicon:before {
  top: 15px;
}

.header .menu-icon .navicon:after {
  top: -15px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 440px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

iframe[seamless] {
  border: none;
  width: 100vw;
}

/* --------------------------------------RESPONSIVENSSS -------------------------------------- */

/* ----------------------------------MEDIUM SCREEN SIZE ------------------------------------------------*/

@media (max-width: 1750px) {
}

/*------------------------------------ SMALL SCREEN ---------------------------------------------*/

@media (max-width: 1250px) {
  .menu {
    width: 100%;
  }
}
/*------------------------------------ SMALL SCREEN ---------------------------------------------*/
@media (max-width: 880px) {
}

/*------------------------------------ PHONE ---------------------------------------------*/
@media (max-width: 650px) {
}
