@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
  list-style: none;
}

:root {
  --main-nav: #fff;
  --main-title: #fff;
}

.content {
  height: 100vh;
  width: 100%;
}

/* ---------------------------------------------NAVBAR STYLING STARTS ------------------------------------------------------*/
/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  background-color: #2f496c;
  color: var(--main-nav);
  justify-content: flex-end;
}

.navbar ul li .active {
  color: var(--main-color);
  border-bottom: 2px solid var(--main-nav);
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  text-decoration: none;
}
.navbar ul li .non_active,
.navbar ul li .non_active:after,
.navbar ul li .non_active:before {
  text-decoration: none;
  transition: all 0.5s;
  color: var(--main-nav);
}
.navbar ul li .non_active {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
}
.navbar ul li .non_active:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: var(--main-nav);
  height: 1px;
}

.navbar ul li .non_active:hover:after {
  width: 100%;
}

/* NAVBAR MENU */
.menu {
  color: #fff;
  text-align: center;
  display: flex;
  width: 50%;
}
.menu li {
  width: 100%;
  padding: 1.2rem 0rem;
}
.menu li a {
  width: 100%;
}

/*HAMBURGER MENU*/
.menu li:hover {
  display: inline-block;
  background-color: #52667f;
  transition: 0.3s ease;
}

iframe[seamless] {
  border: none;
  width: 100vw;
}

/* --------------------------------------RESPONSIVENSSS -------------------------------------- */

/* ----------------------------------MEDIUM SCREEN SIZE ------------------------------------------------*/

@media (max-width: 1750px) {
}

/*------------------------------------ SMALL SCREEN ---------------------------------------------*/

@media (max-width: 1250px) {
  .menu {
    width: 100%;
  }
}
/*------------------------------------ SMALL SCREEN ---------------------------------------------*/
@media (max-width: 880px) {
}

/*------------------------------------ PHONE ---------------------------------------------*/
@media (max-width: 650px) {
}
